.home{
    background-image: url(https://codestar.xyz/demo/eduserve/assets/img/body-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.homeimg{
    width: 350px;
}
 .card1:hover
{
 background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
 color:white;
}
.course1{
    transition: transform 0.3s ease-in-out;
}
.course1:hover
{
 background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
 color:white;
 transform: scale(1.15);
}
.active{
 background: linear-gradient(to top, rgba(255, 0, 122, 1) 0%, rgba(142, 0, 116, 1) 100%);
 color:white;
}

.teacher {
    transition: transform 0.3s ease-in-out;
}

.teacher:hover {
    filter:grayscale(100%);
    transform: scale(1.15);
}

.contact
{
    background-image: url(	https://codestar.xyz/demo/eduserve/assets/img/contact-us.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color:#7e1162;
    background-blend-mode: screen;
}
.contact1{
    background-color: white;
}
::-webkit-input-placeholder{
    color: white;
}
:focus::-webkit-input-placeholder{
    opacity: 0.5;
}
input{
    color: white;
}
/* teacher code */
